<div class="comment-post">
    <details>
        <summary>
            {{selectPost.title}} - {{format_date selectPost.date_created}}
            {{!-- <span class="icon">👇</span> --}}
        </summary>
        <p id="post-body">{{selectPost.content}}</p>
        <strong>
            <p>Comments:</p>
        </strong>
        {{#each selectPost.comments as |comment|}}
        <p id="blog-comment">{{comment.comment}} </br> - Created by: {{comment.user.username}} {{format_date comment.date_created}}</p>
        {{/each}}
        <p id="posted-by">Blog Posted By: {{selectPost.user.username}}</p>

        <form>
            <p id="comment-section">Leave a Comment: </p>
            <input type="text" name="comment" id="post-comment">
            <button type="submit" id="submit-btn" value="{{selectPost.id}}">Submit</button>
        </form>

    </details>
</div>

<script src="/js/addcomment.js"></script>